---
const today = new Date();
import "../styles/footer.css";
---

<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-copyright">
      &copy; {today.getFullYear()} Miguel Angel Ledesma Rodriguez. Todos los derechos reservados.
    </div>

   

    <a href="/src/assets/CV.pdf" target="_blank" class="footer-link">
      Descargar Currículum
    </a>
  </div>
</footer>
