---
const today = new Date();
import "../styles/footer.css";
---

<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-copyright">
      &copy; <span id="current-year">{today.getFullYear()}</span> 
      <a href="https://www.linkedin.com/in/miguel-angel-ledesma-rodriguez-49b8b436b/" target="_blank" class="footer-link-name">
        Miguel Ángel Ledesma Rodriguez
      </a> todos los derechos reservados.
    </div>

    <!-- Separación mayor entre los enlaces -->
    <div style="width: 2rem;"></div>

    <a href="/src/assets/CV.pdf" target="_blank" class="footer-link">
      Descargar Currículum
    </a>
  </div>
</footer>
